body {
  background-color: rgb(199, 196, 196);
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 4%;
  background: rgb(33, 71, 106);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topnav {
  overflow: hidden;
  background-color: #f7f7f7;
  margin-top: 0px;
}

.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: Courier New;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #C0C0C0;
  color: white;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 0;
  margin: 0;
  min-height: calc(100vh - 60px);
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
}

.main-content {
  width: 80%;
  max-width: 800px;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content p, .main-content ul {
  margin: 0 auto;
}

.main-content h1 {
  margin-bottom: 20px;
  font-size: 60px;
  color: rgb(0,0,75);

}

.main-content h2 {
  margin-bottom: 100px;
  font-size: 50px;
  color: rgb(0,0,75);
}

.main-content img {
  max-width: 80%;
  max-height: 600px;
  height: auto;
  width: auto;
  border-radius: 100%;
  display: block;
  margin: 20px auto;
  margin-top: 80px;
  margin-bottom: 100px;
}

.main-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-content ul li {
  margin: 0.5em 0;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous, .next {
  background-color: black;
  color: white;
}

.round {
  border-radius: 50%;
}

footer {
  background: white;
  color: black;
  padding: 8px;
  text-align: center;
}

.main-content p{
  margin-top: 2px;
  margin-bottom: 30px;
  font-size: 30px;
}

h3 {
  padding-top: 30px;
  font-size: 40px;
 }
