body{
    margin: 0;
    padding: 0;
    width: 100%;
}
.container{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-image{
    
    width: 100%;
    text-align:center;
}

h1{
    color:rgb(0, 0, 75);
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 500%;
    text-align:center;
    padding-top: 150px;
}

h2{
    color:rgb(0,0,75);
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:280%;
    text-align: center;
    padding-top: 30px;
}
#undertext {
    font-style: italic;
    font-size: 100%;
    color: rgb(26, 25, 25);
}

#introduction {
    margin: 1% auto; 
    font-size: 18pt;
    width: 70%;
    line-height: 1.6; 
    text-align: center;
}

.undertext{
    margin: 1% auto; 
    width: 5%;
    line-height: 1.6; 
    padding-top: 1%;
}

.logo{
    width: 5%;
    margin-left: 1%;
    border-radius: 20%;
}

.banner {
    width: 100%;
    background-color: red; 
}

.navbar {
    width: 100%; 
    margin: 0; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f7f7;
}
.logo{
    width: 4%;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 60px;
    margin-top: 2%;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 130%;
}

.navbar a:hover{
    background-color: rgb(33, 71, 106);
    color:white;
}

footer{
    padding: 1%;
    text-align: center;
}